﻿@model IEnumerable<FSDPMVC.Data.Metadata.CourseCompletion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCompletionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCompletionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCompletionID })
        </td>
    </tr>
}

</table>
